<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/bootstrap-4.0.0-dist/css/bootstrap.css">
    <title>KYC</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <label class="navbar-brand">ABC Bank</label>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/login">Logout</a>
            <label class="navbar-brand" id=”welcomeMsg” th:text="'Welcome banker'"></label>
        </div>
    </div>
</nav>

<table>
    <td style="width: 20%">
        <div id="mySidenav" class="sidenav">
            <a th:href="${(#mvc.url('HC#editProfile').arg(0, profile?.id)).build()}">Customer Profile</a><br><br>
            <a th:href="${(#mvc.url('HC#editKycInfo').arg(0, profile?.id)).build()}">KYC Information</a><br><br><br>

            <div class="form-group">
                <label >Costumer ID: </label><br>
                <label id="lblCustomerID" th:text="${profile?.id}"> </label>
            </div>
            <div class="form-group">
                <label >KYC Status: </label><br>
                <label id="lblKycStatus">
                    <span th:if="${#lists.contains(status,profile?.id)}">Green</span>
                    <span th:unless="${#lists.contains(status,profile?.id)}">Yellow</span>
                </label>
            </div>

        </div>
    </td>

    <td>
        <div style="width: 100%; border-left: 5px solid black">
            <form style="border-left: 10px solid white" method="post" th:object="${profile}">

                <div class="form-group col-md-4">
                    <label for="kycCountry">Country</label>
                    <select name="kycCountry" id="kycCountry">
                        <option th:selected="${profile?.kycCountry == 'India'}" value="India" default>India</option>
                        <option th:selected="${profile?.kycCountry == 'Canada'}" value="Canada">Canada</option>
                        <option th:selected="${profile?.kycCountry == 'USA'}" value="USA">USA</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="identificationType">Identification Type</label>
                    <select name="identificationType" id="identificationType">
                        <option th:selected="${profile?.identificationType == 'SSN'}" value="SSN" default>SSN</option>
                        <option th:selected="${profile?.identificationType == 'Passport'}" value="Passport">Passport</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="identificationNumber">Identification Number</label>
                    <input type="TextBox" class="form-control" id="identificationNumber" name="identificationNumber" th:value="${profile?.identificationNumber}">
                </div>
                <div class="form-group col-md-4">
                    <label for="occupationType">Occupation Type</label>
                    <select name="occupationType" id="occupationType">
                        <option th:selected="${profile?.occupationType == 'Full Time'}" value="Full Time" default>Full Time</option>
                        <option th:selected="${profile?.occupationType == 'Part Time'}" value="Part Time">Part Time</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="designation">Designation</label>
                    <input type="TextBox" class="form-control" id="designation" name="designation" th:value="${profile?.designation}">
                </div>
                <div class="form-group col-md-4">
                    <label for="salary">Salary</label>
                    <input type="TextBox" class="form-control" id="salary" name="salary" th:value="${profile?.salary}">
                </div>
                <div id="kycErrors" >
                    <span class="error" th:if="${profile != null and #fields.hasErrors('kycCountry')}" th:errors="*{kycCountry}"></span>
                    <span class="error" th:if="${profile != null and #fields.hasErrors('identificationType')}" th:errors="*{identificationType}"></span>
                    <span class="error" th:if="${profile?.kycCountry == 'USA' and profile?.identificationType != 'SSN'}" th:text="${idTypeError}"></span>
                    <span class="error" th:if="${profile?.kycCountry != 'USA' and profile?.identificationType == 'SSN'}" th:text="${idTypeError}"></span>
                    <span class="error" th:if="${profile != null and #fields.hasErrors('identificationNumber')}" th:text="${identificationNumber}"></span>
                    <span class="error" th:if="${profile?.identificationType =='Passport' and profile?.identificationNumber.length() != 7}" th:text="${idNumberError}"></span>
                    <span class="error" th:if="${profile?.identificationType =='SSN'  and profile?.identificationNumber.length() != 12 }" th:text="${idNumberError}"></span>
                    <span class="error" th:if="${profile != null and #fields.hasErrors('occupationType')}" th:errors="*{occupationType}"></span>
                    <span class="error" th:if="${profile != null and #fields.hasErrors('designation')}" th:errors="*{designation}"></span>
                    <span class="error" th:if="${profile != null and #fields.hasErrors('salary')}" th:errors="*{salary}"></span>
                    <span class="error" th:if="${profile?.id == null}" th:text="${noCustomer}"></span>
                    <span class="error"></span>
                </div>
                <button type="submit" class="btn btn-primary" th:disabled="${profile?.id == null}" id="btnSave">Save</button>
            </form>
        </div>
    </td>
</table>

</body>
</html>