<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/bootstrap-4.0.0-dist/css/bootstrap.css">
    <title>Profile</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <label class="navbar-brand">ABC Bank</label>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/login">Logout</a>
            <label class="navbar-brand" id=”welcomeMsg” th:text="'Welcome banker'"></label>
        </div>
    </div>
</nav>

<table>
    <td style="width: 20%">
        <div id="mySidenav" class="sidenav">
            <a th:href="${(#mvc.url('HC#editProfile').arg(0, profile?.id)).build()}">Customer Profile</a><br><br>
            <a th:href="${(#mvc.url('HC#editKycInfo').arg(0, profile?.id)).build()}">KYC Information</a><br><br><br>

            <div class="form-group">
                <label >Costumer ID: </label><br>
                <label id="lblCustomerID" th:text="${profile?.id}"> </label>
            </div>
            <div class="form-group">
                <label >KYC Status: </label><br>
                <label id="lblKycStatus">
                    <span th:if="${#lists.contains(status,profile?.id)}">Green</span>
                    <span th:unless="${#lists.contains(status,profile?.id)}">Yellow</span>
                </label>
            </div>

        </div>
    </td>

    <td>
        <div style="width: 100%; border-left: 5px solid black">
            <form style="border-left: 10px solid white" method="post"  th:object="${profile}">
                <div class="form-row" >
                    <div class="form-group col-md-3">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" th:value="${profile?.firstName}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="mName">Middle Name</label>
                        <input type="text" class="form-control" id="mName" name="middleName" th:value="${profile?.middleName}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" th:value="${profile?.lastName}">
                    </div>
                </div>
                <div class="form-check form-check-inline" id="gender">
                    <input class="form-check-input" type="radio" name="gender" value="Male" th:checked="${profile?.gender == 'Male'}">
                    <label class="form-check-label">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" value="Female" th:checked="${profile?.gender == 'Female'}">
                    <label class="form-check-label">Female</label>
                </div>
                <div class="form-group col-md-4">
                    <label for="dob">Date of Birth</label>
                    <input type="text" class="form-control" id="dob" name="birthDate"  th:value="${(profile?.birthDate)}">
                </div>
                <div class="form-group col-md-4">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="addressLine" th:value="${profile?.addressLine}">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city" th:value="${profile?.city}">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" name="state" th:value="${profile?.state}">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="country">Country</label>
                    <select name="country" id="country">
                        <option th:selected="${profile?.country == 'India'}" value="India" default>India</option>
                        <option th:selected="${profile?.country == 'Canada'}" value="Canada">Canada</option>
                        <option th:selected="${profile?.country == 'USA'}" value="USA">USA</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="postalCode">Postal Code</label>
                    <input type="text" class="form-control" id="postalCode" name="postalCode" th:value="${profile?.postalCode}">
                </div>
                <div id="errors" th:if="${profile != null}">
                    <span class="text-success" th:if="${successMessage != null}" th:text="${successMessage.toString()}"></span>
                    <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                    <span class="error" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></span>
                    <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                    <span class="error" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
                    <span class="error" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>
                    <span class="error" th:if="${#fields.hasErrors('addressLine')}" th:errors="*{addressLine}"></span>
                    <span class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                    <span class="error" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span>
                    <span class="error" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
                    <span class="error" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></span>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
            </form>
        </div>
    </td>
</table>

</body>
</html>