<!DOCTYPE html >
<html  lang="en"
       xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/bootstrap-4.0.0-dist/css/bootstrap.css">
    <title>Home</title>
</head>
<body>
<div >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <label class="navbar-brand">ABC Bank</label>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/login">Logout</a>
                <label class="navbar-brand" id=”welcomeMsg” th:text="'Welcome ' + ${UNAME}"></label>
            </div>
        </div>
    </nav>
    <br>
    <a th:href="${(#mvc.url('HC#editProfile').build())}">
        <button class="btn btn-primary" id=”newCustomer”>New Customer</button>
    </a>
    <br><br>
    <label>Customer ID: </label>
    <form th:action="@{/home}" method="get">
        <input type="text" id=”searchCriteria” name="id" maxlength="30">
        <button id=”search” class="btn btn-info" type="submit"> Search</button>
    </form>
    <br>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Costumer ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Country</th>
                <th scope="col">KYC Status</th>
            </tr>
            </thead>


            <tbody>

            <tr th:each="listClients : ${costumers}">
                <td th:placeholder="teste" th:id="'custId' + ${costumers.indexOf(listClients)+1}" th:text="${listClients.id}"></td>
                <td th:id="'fName' + ${costumers.indexOf(listClients)+1}" th:text="${listClients.firstName}"></td>
                <td th:id="'lastName' + ${costumers.indexOf(listClients)+1}" th:text="${listClients.lastName}"></td>
                <td th:id="'address' + ${costumers.indexOf(listClients)+1}" th:text="${listClients.addressLine}"></td>
                <td th:id="'city' + ${costumers.indexOf(listClients)+1}" th:text="${listClients.city}"></td>
                <td th:id="'state' + ${costumers.indexOf(listClients)+1}" th:text="${listClients.state}"></td>
                <td th:id="'country' + ${costumers.indexOf(listClients)+1}" th:text="${listClients.country}"></td>
                <td th:id="'kycStatus' + ${costumers.indexOf(listClients)+1}">
                    <span th:if="${#lists.contains(status,listClients.id)}">Green</span>
                    <span th:unless="${#lists.contains(status,listClients.id)}">Yellow</span>
                </td>
                <td><a th:href="${(#mvc.url('HC#editProfile').arg(0, listClients.id)).build()}">
                    <button th:id="'edit' + ${costumers.indexOf(listClients)+1}" class="btn btn-info"> Edit </button>
                </a></td>
            </tr>

            </tbody>
        </table>

        <div id="errorMessage" class="error" th:if="${#lists.isEmpty(costumers)}">
            NO RECORDS FOUND
        </div>
    </div>
</div>
</body>
</html>